body
{
    margin: 0;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif
}

.ui-draggable,
.ui-droppable 
{
  background-position: top;
}
  
#draggable 
{
  background: #fff;
  width: 290px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 10px;
  padding: 5px;
  left: 2%;
  top: 10px;
  position: absolute;
  z-index: 3;
}

.toggle-button 
{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.toggle-button::after 
{
  content: "";

  display: inline-block;
  position: absolute;
  left: 3px;
  top: 1.5px;

  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;

  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after 
{
  transform: translateX(calc(100% + 3px));
  background-color: #fff;  
}

.toggle-button:checked 
{
  background-color: blue;
}

.t-T-sliders
{
  margin: 15px 0;
}

.TVal, .tVal
{
  display: inline-block;
  margin-left: 10px;
}

i
{
  display: inline;
  font-weight: bold;
}

.inlineParagraph
{
    display: inline;
}

.results-lbl
{
  display: block;
  margin-bottom: 15px;
}

.btn
{
  background-color: #dad7de; 
  border: none;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  width: 250px;

}

.btn:hover
{
  cursor: pointer;
}

.btn-projections-turn
{
  white-space: pre-line;
}

#WebGL-output
{
    position: absolute;
}